@font-face {
  font-family: "joystix";
  src: url("joystix.otf");
}

/* fixes cell stacking issues by making each cell exactly 14px wide */
* {
  box-sizing: border-box;
}

body {
  background-image: url(./darkness.png);
  background-repeat: repeat;
  font-family: joystix, monospace;
  text-align: center;
  color: snow;
}
.cell {
  display: inline-block;
  border: 1px solid black;
  width: 17px;
  height: 17px;
  margin-left: -1px;
  margin-bottom: -1px;
}
.live {
  background-color: green;
}
.dead {
  background-color: burlywood;
}

.cell:hover {
  background: #00ccff;
}

h1,
h2 {
  margin: 3rem auto;
  text-align: center;
  margin-top: 10px;
}

h1 {
  font-size: 5.2rem;
  margin-bottom: 0.5rem;
}

.grid {
  width: 150px;
  line-height: 0;
  margin: 1.5rem auto;
  box-shadow: 0px 0px 20px white;
}

button {
  text-align: center;
  padding: 0.5rem 1rem;
  font-family: "joystix";
  font-size: 1rem;
  background-color: black;
  color: limegreen;
  border-radius: 14px;
  margin: 0.5rem 0.5rem;
  border: 0.2rem outset grey;
  transition: border 0.3s;
}

button:hover,
button:focus {
  border: 0.2rem outset burlywood;
  outline: none;
}

.instructions {
  max-width: 70%;
  margin: 2rem auto;
  text-align: left;
}
.instructions p {
  text-align: left;
}

@media only screen and (min-width: 50rem) {
  .instructions {
    max-width: 50%;
  }
}
@media only screen and (min-width: 75rem) {
  .instructions {
    max-width: 30%;
  }
}
